<div style="width: 100%;text-align: center;margin-top: 20px;display: flex;flex-direction: column;gap:10px;align-items: center;">
  <button routerLink="/register" style="color:#FFF;background-color: limegreen;padding: 5px 20px;border-radius: 10px;">LINE LOGIN</button>
  <button style="color:#FFF;background-color: cornflowerblue;padding: 5px 20px;border-radius: 10px;">FACEBOOK LOGIN</button>
  <button style="color:#FFF;background-color: black;padding: 5px 20px;border-radius: 10px;">TIKTOK LOGIN</button>
</div>
