<h1>REGISTER</h1>
<ng-container *ngIf="this.profile$ | async as profile">
  <div style="display: flex;flex-direction: column;gap:10px;">
    <input type="text" [(ngModel)]="formRegister.customerContactInfo.firstName" placeholder="ชื่อนามสกุล">
    <input type="text" [(ngModel)]="formRegister.customerContactInfo.lastName" placeholder="นามสกุล">
<!--    <input type="text" [(ngModel)]="formRegister.customerContactInfo.mobiles" placeholder="เบอร์โทรศัพท์">-->
    <input type="text" [(ngModel)]="formRegister.customerContactInfo.address" placeholder="ที่อยู่">
    <button (click)="register()">สมัครสมาชิก</button>
    <button (click)="logout()">ออกจากระบบ</button>
  </div>
</ng-container>

